.followme-wrap {
    display: flex;
  }
  
  .followme {
    display: flex;
    align-items: center;
  }
  
  .followme h3 {
    color: #7b7b7b;
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  .followme .footer-line {
    width: 60px;
    height: 2px;
    background-color: #7b7b7b;
    margin: 0 1.2rem;
    display: inline-block;
  }
  
  .social-media a {
    color: #6773e5;
    font-size: 1.3rem;
    margin-right: 0.4rem;
    transition: 0.3s;
  }
  
  .social-media a:hover {
    color: #fff;
  }
  
  .back-btn-wrap {
    position: relative;
    margin-left: 2.5rem;
  }
  
  .back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #6773e5;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  
  .back-btn:hover {
    background-color:var(--main-color) ;
  }
  
  .back-btn-wrap:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    border-radius: 50%;
    opacity: 0.08;
    animation: scale 1.2s ease-out infinite 1s;
  }
  
  @keyframes scale {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.15;
    }
  
    100% {
      transform: translate(-50%, -50%) scale(1.6);
      opacity: 0;
    }
  }
  
  .followme-wrap {
    margin-top: 0.8rem;
  }